<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<!-- <link rel="stylesheet" href="{% static "css/reset.css" %}" /> -->
	<link rel="stylesheet" href="{% static "admin/css/base.css" %}" />
	<title>
		{% block title %}
			snail the SW engineer
		{% endblock %}
	</title>
</head>

<body>
	<div id="header">
		{% block sidebar %}
		<ul id="nav_main">
			<!-- <li><a href="/">Project home></a></li> -->
			<li><a href="/admin/">Admin</a></li>
		</ul>
		{% endblock %}
		<br>
	</div>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

	<div id="footer">
		{% block footer %}
		{% endblock %}
	</div>
<script>
//window.location.href = "http://www.google.com"
// document.
</script>	
</body>
</html>
