{% extends "base_hangout.html" %}

{% block content %}
<h1>{{ object.name }}</h1>
<dl>
	<dt>City</dt>
	<dd>{{ object.city}}</dd>

	<dt>Address</dt>
	<dd>{{ object.address }}</dd>

</dl>
<div>
	<span id="timer">12:00</span>
</div>
<ul>
	<li> {{ object.intro }} </li>
	<li> 
		{% for i in object.category.all %}
		{{ i.name }}
		{% if not forloop.last %}
		,
		{% endif %}
		{% endfor %}
	</li>
	
	{% if object.allday %}
	<li> Open : 24 hours </li>
	{% endif %} 
	<li>Homepage : <a href="{{object.homepage}}">{{ object.homepage }}</a></li><br>

</ul>

{% for photo in object.placephoto_set.all %}
	<img src="/{{ photo.photo.url }}" width="520px" height="400px"/>
{% endfor %}
{% endblock content %}
